<% if (themePreset === 'myanmar-portal') { %>
<section class="portal-mnp-covid" aria-label="Health information">
  <div class="container">
    <a class="portal-mnp-covid-link" href="/category/announcements">
      <span class="portal-mnp-covid-icon" aria-hidden="true"><i class="bi bi-virus"></i></span>
      <span class="portal-mnp-covid-text">
        <strong>CORONAVIRUS DISEASE 2019</strong>
        <span>Official public health information and guidance</span>
      </span>
      <i class="bi bi-chevron-right portal-mnp-covid-arrow" aria-hidden="true"></i>
    </a>
  </div>
</section>
<% } %>
