<% if (success && success.length) { %>
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <% success.forEach(function(message) { %>
      <div class="toast show text-bg-success"><div class="toast-body"><%= message %></div></div>
    <% }) %>
  </div>
<% } %>
<% if (error && error.length) { %>
  <% error.forEach(function(message) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% }) %>
<% } %>
