<!doctype html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (typeof csrfToken !== 'undefined' && csrfToken) { %><meta name="csrf-token" content="<%= csrfToken %>"><% } %>
  <title><%= title %> | NodePress Admin</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/theme-vars.css">
  <link rel="stylesheet" href="/css/components.css">
  <link rel="stylesheet" href="/css/ui-modern.css">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/editor.css">
  <link rel="stylesheet" href="/css/block-editor.css">
  <link rel="stylesheet" href="/css/customizer.css">
  <script src="/vendor/tinymce/tinymce.min.js"></script>
</head>
<body class="admin-body">
<a class="np-skip-link" href="#np-main-content">Skip to main content</a>
