<div class="modal fade" id="sliderImageCropModal" tabindex="-1" aria-labelledby="sliderImageCropModalLabel" aria-hidden="true" data-slider-crop-modal>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sliderImageCropModalLabel">Crop slider photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="slider-crop-stage">
          <img id="sliderCropImage" src="" alt="Crop preview">
        </div>
        <p class="np-help-text mt-3 mb-0">Drag and zoom to frame the slide. Photos are cropped to 16:9 for the homepage hero carousel.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="np-btn np-btn-secondary" data-bs-dismiss="modal" data-crop-cancel>Cancel</button>
        <button type="button" class="np-btn np-btn-primary" data-crop-apply>Apply crop</button>
      </div>
    </div>
  </div>
</div>
